
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');


body{
    background-image: linear-gradient(#FEF9E7 , #1A5276 );
    background-repeat: no-repeat;
    background-size:cover;
    display:grid;
    justify-items:center;
    grid-template-areas:
    "heading"
    "morning"
    "midday"
    "needpush"
    "evening";
}
#header{
    grid-area:heading;
    text-align:center;
    margin-top:-50px;
    
}

#heading{
    font-family:Lora;
    font-size:100px;
}

#subheading{
    margin-top:-100px;
    margin-left:200px;
    margin-bottom: 60px;
}

#morning{
    grid-area:morning;
    display:grid;
    grid-template-areas: 
    "thanks thanks"
    "grat grat"
    "text button";
    justify-items:center;
}

#thanks{
    grid-area:thanks;
    align-self:end;
    margin-bottom:-10px;
}
#grat{
    grid-area:grat;
    align-self:start;
}
#gratitudeText{
    grid-area:text;
    width: 300px;
}
#gratitudeButton{
    grid-area:button;
    margin-left: 20px;
}

#midday{
    grid-area:midday;
    display:grid;
    justify-items:center;
    background-color:rgba(169, 169, 169, 0.4);
    border-radius: 20px;
    margin-bottom: 50px;
    margin-top:50px;
}
.task-style{
    width:300px;
    display:grid;
    grid-template-areas:
    "delete task notes";
    justify-items:start;
    align-items:center;
    margin-right:75px;
}

.task{
    grid-area:task;
    width:175px;
}
.notes{
    grid-area:notes;
    width:165px;
}
.deleteButton{
    grid-area:delete;
    height: 25px;
    width:25px;
    margin-right:20px;
    background-color:rgb(89, 0, 0);
}
#todotitle{
    background-color:rgb(175, 175, 175);
    height:40px;
    width:500px;
    margin:0;
    text-align:center;
    border-top-right-radius:20px;
    border-top-left-radius:20px;
    padding-top:10px;
}

#todotext{
    width:200px;
    margin-bottom:10px;
}
#descriptionText{
    width:200px;
    height:fit-content;
    margin-bottom:10px;
}
#needAPush{
    grid-area:needpush;
    color: #FEF9E7;
    display:grid;
    grid-template-areas: "grat bored comp cure fort";
    grid-gap: 20px;
}

#cureForBoredom{
    grid-area:bored;
    height:150px;
    width:150px;
    border-radius:50%;
}

#gratitudeReminder{
    grid-area:grat;
    height:150px;
    width:150px;
    border-radius:50%;
}

#complimentButton{
    grid-area:comp;
    height:150px;
    width:150px;
    border-radius:50%;
}

#fortuneButton{
    grid-area:fort;
    height:150px;
    width:150px;
    border-radius:50%;
}

#cureForStress{
    grid-area:cure;
    height:150px;
    width:150px;
    border-radius:50%;
}

button{
    background-color:darkgrey;
    color:rgb(221, 220, 220);
    font-family:Lora;
    font-size:18px;
    border:none;
    box-shadow:3px 3px 3px rgb(96, 96, 96);
    transition: background-color 0.5s ease-out 0ms
}

button:hover{
    background-color:rgba(169, 169, 169, 0.5)
}

